force-app/main/default/flows/Create_Hours_On_Timesheet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Create Hours On Timesheet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Hours On Timesheet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateHours</name>
        <label>CreateHours</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Stunden</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Datum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Beschreibung</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timesheet__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetTimesheet</name>
        <label>GetTimesheet</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eingabe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timesheet__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Neuen Stundennachweise erstellen</description>
        <name>Eingabe</name>
        <label>Stundennachweis erstellen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateHours</targetReference>
        </connector>
        <fields>
            <name>Datum</name>
            <dataType>Date</dataType>
            <fieldText>Datum</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stunden</name>
            <dataType>Number</dataType>
            <fieldText>Stunden</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Beschreibung</name>
            <dataType>String</dataType>
            <fieldText>Beschreibung</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTimesheet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Timesheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Timesheet__c</objectType>
    </variables>
</Flow>
